body {
    font-family: 'Roboto', sans-serif;
}

#one {
    background-color: #1f2937;
    color: #f9faf8;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#one .header, #one .signup {
    width: 1050px;
}

#one .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#one .header h1 {
    font-size: 24px;
}

#one .link {
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
}

#one .signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#one .content, #one .content h1, #one p, #one image-box {
    margin: 0px 0px 2px 0px; /*change margin-bottom later*/
    padding: 0px;
}

#one .content {
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

#one .signup h1 {
    font-size: 48px;
    font-weight: 900;
}

#one .signup p {
    color: #E5E7EB;
}

#one button {
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    height: 30px;
    width: 100px;
    font-weight: bold;
}

#one .image-box {
    width: 550px;
    height: 240px;
    margin: 20px 0px 20px 20px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
}

#two .content {
    display: flex;
    gap: 50px;
}

#two h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

#two .image-box {
    width: 150px;
    height: 150px;
    border: 3px #3882f6 solid;
    border-radius: 15px;
}

#two img {
    width: 150px;
    height: 150px;
}

#two .text {
    text-align: center;
    width: 150px;
    color: gray;
}

#three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 0;
}

#three h2, #three h4 {
    width: 830px;
}

#three h2 {
    color: #1F2937;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    text-align: left;

    margin: 0;
}

#three h4 {
    text-align: right;
    align-self: flex-end;
    font-size: 24px;
    

    margin: 0;
}

#four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

#four .container {
    border-radius: 12px;
    width: 900px;
    height: 140px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #f9faf8;
}

#four h3, #four p {
    margin: 5px;
}

#four button {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    text-align: center;
    width: 120px;
    height: 36px;
    font-weight: bold;
    font-size: 16px;
}

#five {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;

    padding: 15px 0;
}