body {
    font-family: 'Roboto', sans-serif;
}

.section {
    border: 3px solid red;
    padding: 0px 400px;
}

/*SECTION 1*/
#one {
    color: #f9faf8;
    background-color: #1f2937;
    padding: 50px 400px;
    display: flex;
    flex-direction: column;
}

#one .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px auto;
    margin-bottom: 50px;
}

#one .header h1 {
    font-size: 24px;
}

#one .link {
    display: flex;
    gap: 50px;
    font-size: 18px;
    color: #E5E7EB;
}

#one h1 {
    font-size: 48px;
    font-weight: 900;
}

#one .signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#one .content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#one .content h1, #one .content p, #one .content button {
    margin-top: 4px;
    margin-bottom: 4px;
}

#one button {
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    height: 30px;
    width: 100px;
    font-weight: bold;
}

#one .image-box {
    width: 600px;
    height: 230px;
    margin: 20px 0px 20px 20px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}